@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.heroCard {
  height: 350px;
  width: 100%;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  margin-bottom: 30px;
}

.textWrapper {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px 10px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.heroTitle {
  color: white;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  /* color: #122724; */
}
