.newsFeedSection {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
}

.sectionHeader {
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--primary-dark);
}

/* .noNews {

} */
