.tabsContainer {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.tabBtn {
  background: none;
  border: none;
  color: var(--text-gray);
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 10px;
  position: relative;
}

/* Note: In CSS modules, you just target .active directly */
.active {
  color: var(--primary-teal);
  font-weight: 700;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary-teal);
}

.tabsDivider {
  border: 0;
  height: 1px;
}
