.pageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
}

.chatbotIcon {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 25px;
    color: #008e7b;
    padding: 15px;
    border-radius: 50%;
    background-color: #92ecde;
    box-shadow: 0 0 0 15px #c5fff6, 0 0 0 0px #17E5C9;
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    box-sizing: content-box;
}

.meetAI {
    text-align: center;
    margin-top: 5px;
    font-size: 41px;
    font-weight: 700;
    color: #000000;
    font-family: system-ui;
}

.paragraph {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 18px;
    color: #606060;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.cardsContainer {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    display: flex;
    justify-content:space-evenly;
    gap: 50px;
    width:auto;
}

.cardIcon {
    font-size: 30px;
    color: #17E5C9;
    margin-left: 50%;
    transform: translateX(-50%);
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex: 1 1 0px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #E0E0E0;
    background-color: white;
}

.cardTitle {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2px;
    color: #000000;
}

.cardDescription {
    font-size: 16px;
    color: #606060;
}

@media (max-width: 768px) {
    .cardsContainer {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        gap: 20px;
    }
    .chatbotIcon {
        margin-top: 30px;
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.aiContainer {
    background-color: white;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 20%;
    padding: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sparkleIcon {
    font-size: 38px;
    color: #17E5C9;
    margin-bottom: 10px;
    border: 0px solid;
    background-color: #C7FDF5;
    padding: 7px;
    border-radius: 50%;
    flex-shrink: 0;
}

.introText {
    background-color: #F2F3F3;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    padding-right: 30px;
}

.introTextStart {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.introTextDescribe {
    font-size: 18px;
    color: #606060;
    line-height: 1.5;
}