.chatArea {
    background-color: white;
    padding: 5px;
    margin-top: 0px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    height: 45px;
    display: flex;
    align-items: center;
}

.inputField {
  flex: 1;
  width: 100%;
  resize: none;
  overflow-y: hidden;
  min-height: 40px;
  max-height: 150px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.4;
  outline: none;
}

.inputField:focus {
  border-color: #007bff;
}

.submitIcon {
    font-size: 35px;
    color: black;
    border: 0px solid;
    background-color: #17E5C9;
    padding: 7px;
}